---
import LandingHero from "../components/LandingHero.astro";
import LandingSections from "../components/LandingSections.astro";
import "../styles/global.css";
---

<html lang="id">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta
            name="description"
            content="Dashboard kesehatan lansia Indonesia berbasis data publik."
        />
        <title>SmartCaregiver Public Dashboard</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@400;500;600;700;800&family=JetBrains+Mono:wght@500;600&family=Poppins:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <main class="page-container">
            <LandingHero />
            <LandingSections />
        </main>
    </body>
</html>
